Node-Red_Settings.txt
[
    {
        "id": "b1b8bc0f.089a2",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3cbd4fab.068a1",
        "type": "ui_form",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "label": "Life Expectancy Predictions",
        "group": "2136331b.849abc",
        "order": 0,
        "width": "0",
        "height": "0",
        "options": [
            {
                "label": "Adult_Mortality",
                "value": "a",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Infant_Deaths",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "c",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Percentage_Exp",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HepatitisB",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Under_Five_Deaths",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Tot_Exp",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diphtheria",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness_1to19_years",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Thinness_5to9_years",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income_Comp_Of_Resources",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Developing",
                "value": "q",
                "type": "switch",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": false
        },
        "payload": "",
        "submit": "Predict",
        "cancel": "Edit",
        "topic": "",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "a846b01a.41669"
            ]
        ]
    },
    {
        "id": "a846b01a.41669",
        "type": "function",
        "z": "b1b8bc0f.089a2",
        "name": "pre token",
        "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey = \"rxI957MXZ1cnv7zhbVRv3QXo4lctG4hsd6E3B-NR4IKi\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 40,
        "wires": [
            [
                "7b1375fd.a653dc"
            ]
        ]
    },
    {
        "id": "7b1375fd.a653dc",
        "type": "http request",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "x": 730,
        "y": 40,
        "wires": [
            [
                "edcfb8a6.cd1298"
            ]
        ]
    },
    {
        "id": "edcfb8a6.cd1298",
        "type": "function",
        "z": "b1b8bc0f.089a2",
        "name": "token",
        "func": "var token = msg.payload.access_token;\nvar instance_id = \"4d2fa9cc-99fe-4477-bae8-a84d245ec6a7\";\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token, \"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload = {\"fields\":['winsorized_Adult_Mortality',\n       'winsorized_Infant_Deaths', 'winsorized_Alcohol',\n       'winsorized_Percentage_Exp', 'winsorized_HepatitisB',\n       'winsorized_Under_Five_Deaths', 'winsorized_Polio',\n       'winsorized_Tot_Exp', 'winsorized_Diphtheria', 'winsorized_HIV',\n       'winsorized_GDP', 'winsorized_Population',\n       'winsorized_thinness_1to19_years', 'winsorized_thinness_5to9_years',\n       'winsorized_Income_Comp_Of_Resources', 'winsorized_Schooling',\n       'Developing'],\"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "218afee3.9e0ca2"
            ]
        ]
    },
    {
        "id": "218afee3.9e0ca2",
        "type": "http request",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v3/wml_instances/4d2fa9cc-99fe-4477-bae8-a84d245ec6a7/deployments/08aa7243-e95e-439d-8fa6-6432b5964777/online",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "a8a953c8.8c1e2",
                "38ea4236.8000de"
            ]
        ]
    },
    {
        "id": "38ea4236.8000de",
        "type": "function",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "func": "msg.payload = msg.payload.values[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "30ad69bb.120ba6",
                "4c2adc08.f2b334"
            ]
        ]
    },
    {
        "id": "30ad69bb.120ba6",
        "type": "ui_text",
        "z": "b1b8bc0f.089a2",
        "group": "2136331b.849abc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Expected Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "a8a953c8.8c1e2",
        "type": "debug",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 460,
        "wires": []
    },
    {
        "id": "4c2adc08.f2b334",
        "type": "debug",
        "z": "b1b8bc0f.089a2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "2136331b.849abc",
        "type": "ui_group",
        "z": "",
        "name": "Details",
        "tab": "7c8884f8.30a86c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c8884f8.30a86c",
        "type": "ui_tab",
        "z": "",
        "name": "Predicting Life Expectancy",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
